<div class="topmanu">
  <span class="suru"><%= link_to 'Menu', '/' %></span>
  <span class="sakuhin"><%= link_to '関係先一覧', '/' %></span>
  <span class="sakuhin"><%= link_to 'サインアウト', '/' %></span>
</div>
